.skew-box {
    transform: skew(-10deg);
}

.un-skew {
    transform: skew(10deg)
}

.page-section {
    display: none;
    animation: fadeIn 0.5s;
}

.active-section {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-bg {
    background: linear-gradient(to right, rgba(2, 6, 23, 0.9), rgba(2, 6, 23, 0.7)),
        url(images/fond-header.jpg);
    background-size: cover;
    background-position: center;
}